Source: nav
Section: net
Priority: optional
Maintainer: Morten Brekkevold <morten.brekkevold@uninett.no>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), quilt, autoconf, automake, python, dh-python, python-sphinx, python-psycopg2 (>= 2.5.4), python-zope.interface, ruby-sass (>= 3.4.7)
Standards-Version: 3.9.6
X-Python-Version: 2.7
Homepage: https://nav.uninett.no/

Package: nav
Architecture: all
Pre-Depends: debconf
Depends:
  ${misc:Depends},
  systemd,
  adduser,
  ${python:Depends},
  apache2-mpm-prefork,
  nbtscan,
  logrotate,
  postgresql (>= 9.4),
  postgresql-contrib (>= 9.4),
  libapache2-mod-wsgi,
  django-filter (>= 0.7),
  python-asciitree (>= 0.3.3),
  python-configparser (>= 3.3.0),
  python-crispy-forms-foundation,
  python-django (<< 1.8),
  python-django (>= 1.7),
  python-django-crispy-forms,
  python-django-hstore (>= 1.2.4),
  python-djangorestframework (<< 2.5),
  python-djangorestframework (>= 2.4.0),
  python-dnspython (>= 1.12.0),
  python-feedparser,
  python-gammu,
  python-imaging,
  python-ipy (>= 1:0.83),
  python-iso8601,
  python-ldap,
  python-markdown (>= 2.5.1),
  python-networkx (>= 1.0),
  python-psycopg2 (>= 2.5.4),
  python-pynetsnmp-2,
  python-pyrad,
  python-rrdtool,
  python-simplejson,
  python-twisted (>= 14.0.1),
  python-xmpp,
  rrdtool,
  makepasswd,
  rsync,
  wwwconfig-common (>= 0.0.37),
  samba-common-bin
Recommends: graphite-carbon, graphite-web
Conflicts: graphite-web-django14
Description: Network Administration Visualized
 This package contains Network Administration Visualized, an advanced
 software suite to monitor large computer networks. It automatically
 discovers network topology, monitors network load and outages, and can
 send alerts on network events by e-mail and SMS, allowing for flexible
 configuration of alert profiles.
