Source: nav
Section: net
Priority: optional
Maintainer: Morten Brekkevold <morten.brekkevold@sikt.no>
Build-Depends:
 debhelper (>= 13.3.4),
 quilt,
 python3-all,
 dh-virtualenv (>= 1.2.2),
 dh-python,
 python3-dev,
 python3-setuptools,
# The following are required to build various Python packages in the virtualenv:
 libgammu-dev,
 libpq-dev,
 libjpeg-dev,
 libz-dev,
 libldap2-dev,
 libsasl2-dev,
# This is needed to ensure building of the docs without error
 libsnmp40,
Standards-Version: 3.9.6
X-Python-Version: 3.9
Homepage: https://nav.uninett.no/

Package: nav
Architecture: amd64
Pre-Depends: debconf
Depends:
  ${misc:Depends},
  systemd,
  adduser,
  python3 (>= 3.9),
  nbtscan,
  logrotate,
  postgresql (>= 13),
  postgresql-contrib (>= 13),
  python3-distutils,
  rrdtool,
  makepasswd,
  rsync,
  wwwconfig-common (>= 0.0.37),
  samba-common-bin,
  libgsmsd8,
# The following are mostly requirements of the embedded Python libraries of this package:
  ca-certificates,
  libjpeg62,
  libsasl2-2,
  libsnmp40,
  libldap-2.5-0 (>= 2.5.13),
  libpq5,
  zlib1g
Recommends:
  apache2,
  libapache2-mod-wsgi-py3,
  graphite-carbon,
  graphite-web,
  smbclient,
  dhcping
Conflicts: graphite-web-django14
Description: Network Administration Visualized
 This package contains Network Administration Visualized, an advanced
 software suite to monitor large computer networks. It automatically
 discovers network topology, monitors network load and outages, and can
 send alerts on network events by e-mail and SMS, allowing for flexible
 configuration of alert profiles.
