[Unit]
Description=Network Administration Visuzalized
Documentation=https://nav.uninett.no/doc/latest/
After=network.target postgresql.service

[Service]
Type=forking
ExecStart=/usr/sbin/nav start
ExecStop=/usr/sbin/nav stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
