#!/bin/bash

# Debconf config script for NAV

set -e

# Source debconf library
. /usr/share/debconf/confmodule

if [ "$DPKG_DEBUG" = "developer" ]; then
    set -x
fi
 
##################################################
# Begin installation directories definition block#
##################################################
package_name="nav"
datadir="/var/lib/${package_name}/"
backupdir="${package_name}backups/"
pkgdir="/usr/share/${package_name}/"
docdir="/usr/share/doc/${package_name}/"
upgradesdir="${docdir}sql/upgrades/"
configdir="/etc/${package_name}/"
dbconf="${configdir}db.conf"
################################################
# End installation directories definition block #
################################################

########################################################################
# The actual configuration

STATE=db_generation
while [ "$STATE" != "ok" -a "$STATE" != "error" -a "$STATE" != "quit" ]; do
    case "$STATE" in
        db_generation)
	    # ask this question only if we are doing a fresh install
	    if dpkg -l | grep "ii  nav " > /dev/null 2>&1; then
		STATE=db_auto_update
	    else
		db_input high ${package_name}/$STATE || true
		if db_go; then
		    db_get ${package_name}/$STATE || true
		    if [ ! -z "$RET" ]; then 
			STATE=dbpass
		    fi
		else
                    STATE=error
		fi
	    fi
        ;;
        dbpass)
            db_input high ${package_name}/$STATE || true
            if db_go; then
		STATE=db_auto_update
            else
                STATE=error
            fi
        ;;
	db_auto_update)
	    db_input high ${package_name}/$STATE || true
            if db_go; then
		db_get ${package_name}/$STATE || true
		if [ ! -z "$RET" ]; then 
		    STATE=db_purge
		fi
            else
                STATE=error
            fi
	;;
        db_purge)
            db_input high ${package_name}/$STATE || true
            if db_go; then
		db_get ${package_name}/$STATE || true
		if [ ! -z "$RET" ]; then 
		    STATE=apache2_restart
		fi
            else
                STATE=error
            fi
        ;;
	apache2_restart)
	    # ask this only if we are upgrading from an earlier version
	    if dpkg -l | grep "ii  nav " > /dev/null 2>&1; then
		db_input high ${package_name}/$STATE || true
		if db_go; then
		    db_get ${package_name}/$STATE || true
		    if [ ! -z "$RET" ]; then 
			STATE=cricket_remove_unused_dirs
		    else
			STATE=error
		    fi
		else
		    STATE=error
		fi
	    else
		STATE=report_move_old_config_files
	    fi
	    ;;

	report_move_old_config_files)
	    # ask this only if we are upgrading from an earlier version
	    if dpkg -l | grep "ii  nav " > /dev/null 2>&1; then
		db_input medium ${package_name}/$STATE || true
		db_go
		STATE=ok
	    else
		STATE=ok
	    fi
            ;;

        *)
	    STATE=error
        ;;
    esac
done

if [ "$STATE" = error ]; then
    exit 1
fi

# If we are upgrading and database exists, we should not say user the
# system is not properly configured. So next script.

db_stop

exit 0
