#!/usr/bin/make -f
package     := nav
DEBIAN_ROOT := $(CURDIR)/debian/$(package)

%:
	dh $@ --with quilt --with python-virtualenv --with systemd

override_dh_auto_configure:
	./autogen.sh
	./configure \
	  --prefix=/usr \
	  --bindir=/usr/lib/nav \
	  --docdir=/usr/share/doc/nav \
	  --libdir=/usr/lib/nav \
	  --libexecdir=/usr/lib \
	  --sysconfdir=/etc/nav \
	  --sharedstatedir=/var/lib \
	  --localstatedir=/var/lib/nav \
	  --infodir=/usr/share/info \
	  --mandir=/usr/share/man \
	  --datadir=/usr/share/nav

override_dh_auto_install:
	dh_auto_install

	dh_installdocs NOTES.rst
	dh_installchangelogs CHANGES

	# apache2 sites-available-file
	install -m644 debian/nav.apache2-site \
	  $(DEBIAN_ROOT)/etc/apache2/sites-available/nav-default.conf

	# use /var/run/nav/ for pid-files
	rmdir $(DEBIAN_ROOT)/var/lib/nav/run && \
	  ln -s /var/run/nav $(DEBIAN_ROOT)/var/lib/nav/run

	# use /var/log/nav/ for logfiles
	mv $(DEBIAN_ROOT)/var/lib/nav/log/* $(DEBIAN_ROOT)/var/log/nav/ && \
	  rmdir $(DEBIAN_ROOT)/var/lib/nav/log && \
	  ln -s /var/log/nav $(DEBIAN_ROOT)/var/lib/nav/log


override_dh_auto_test:
