#!/usr/bin/make -f
package     := nav
DEBIAN_ROOT := $(CURDIR)/debian/$(package)

# preset version for setuptools_scm to prevent weird version numbers
include /usr/share/dpkg/pkg-info.mk
VERSION_UPSTREAM = $(shell echo '$(DEB_VERSION_UPSTREAM)' | sed -e 's/\+[^+]*//')
export SETUPTOOLS_SCM_PRETEND_VERSION = $(VERSION_UPSTREAM)

%:
	dh $@ --with quilt --with systemd --with python-virtualenv

.PHONY: override_dh_auto_install override_dh_auto_test

override_dh_virtualenv:
	npm install
	npm run build:sass

	dh_virtualenv --extra-pip-arg "-rdoc/requirements.txt" --extra-pip-arg="-cconstraints.txt" --extra-pip-arg "setuptools>=50.2.0"

	$(DEBIAN_ROOT)/opt/venvs/nav/bin/python $(DEBIAN_ROOT)/opt/venvs/nav/bin/sphinx-build doc/ doc/_build/html
	dh_installdocs doc/_build/html
	dh_installdocs NOTES.rst
	dh_installchangelogs CHANGELOG.md HISTORY

	# copy initial set of config files
	mkdir $(DEBIAN_ROOT)/etc/nav && cp -a $(CURDIR)/python/nav/etc/* $(DEBIAN_ROOT)/etc/nav/

	# apache2 sites-available-file and our own Debian-specific apache config
	install -m644 debian/nav.apache2-site \
	  $(DEBIAN_ROOT)/etc/apache2/sites-available/nav-default.conf
	install -m644 debian/apache.conf \
	  $(DEBIAN_ROOT)/etc/nav/apache/apache.conf

	# Re-enable global site packages for runtime. We don't want to build
	# the virtualenv that way, however, since dh-virtualenv/pip will
	# consider many of the baser requirements to already be satisfied by
	# the build system.
	sed -ie 's/^include-system-site-packages.*/include-system-site-packages = true/' $(DEBIAN_ROOT)/opt/venvs/nav/pyvenv.cfg

override_dh_strip:
	dh_strip --exclude=/site-packages/

override_dh_shlibdeps:
	dh_shlibdeps --exclude=/site-packages/

override_dh_auto_test:

# Uncomment this to save time during testing/development:
# override_dh_strip_nondeterminism:
